# Essential system packages
numpy>=1.25,<2.0
scipy>=1.6.0,<1.14.0
pandas>=1.5

# Chemistry / Materials Science
autoxrd




# Web and API
fastapi
uvicorn
django
djangorestframework
djangorestframework-simplejwt==5.2.2
django-cors-headers==3.14.0
httpx
aiohttp
requests

# Utilities and misc
tqdm
pydoe2
nptdms

























