# Essential system packages
numpy>=1.25,<2.0
scipy>=1.6.0,<1.14.0
pandas>=1.5
matplotlib
seaborn


# Chemistry / Materials Science
ase>=3.25.0
maggma
autoxrd
pyxtal
cohere


# NLP / LLM-related
langchain
sentence-transformers>=2.7.0
cohere>=4.52
chromadb>=0.5.0
faiss-cpu
# --- PDF Parsing ---
PyMuPDF>=1.23.25




# Data handling and formats
h5py>=3.6.0,<3.13.0
h5io
h5io-browser
xmltodict
zstandard
zipp
yarl

# Web and API
fastapi
uvicorn
django
djangorestframework
httpx
aiohttp
requests

# Visualization and plotting
plotly


# Utilities and misc
tqdm
python-dotenv
wheel
pyyaml
joblib
pydoe2
pyfileindex
nptdms
pyts
paramz


# Optional or specific use cases
captum
ml-dtypes
onnxruntime
blosc2
blis
thinc
hf-xet

djangorestframework-simplejwt==5.2.2
django-cors-headers==3.14.0


















